<% content_for :page_title do %>
    New Bulk Discount
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => {:target => @bulk_discount} %>

<%= form_for [:admin, @bulk_discount] do |f| %>
    <fieldset class="no-border-top">
      <%= render :partial => 'form', :locals => {:f => f} %>
      <div class="clear"></div>
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </fieldset>
<% end %>